<ModalTarget />

<div class="v-container">
  <FromElsewhere @name="tools" as |tools|>
    <div class="topbar">
      {{#liquid-bind tools rules=this.toolsAnimationRules as |T|}}
        <T/>
      {{/liquid-bind}}
    </div>
  </FromElsewhere>

  <div class="container">
    <main>
      <p>This app demonstrates the <a href="https://github.com/ef4/ember-elsewhere">Ember Elsewhere</a> addon. It contains three elsewhere targets:</p>

      <ol>
        <li>The blue sidebar is a target named "right", implemented as <code>&lt;FromElsewhere @name="right"&gt;</code>.</li>

        <li>The green toolbar (visible only on some pages) is a target named "tools", implemented with a <code>&lt;FromElsewhere&gt;</code> component that allows it to be composed with liquid-fire animations.</li>
        <li>There is a "modal" target that demonstrates animated modals. See the button on <LinkTo @route="third">Third Page</LinkTo>.</li>
        <li>There is an "actions" target, implemented with a <code>&lt;MultipleFromElsewhere @name="actions"&gt;</code> that allows you to pass multiple components. Check <LinkTo @route="fourth">Fourth Page</LinkTo>.</li>
      </ol>

      <nav>
        <LinkTo @route="index">First Page</LinkTo>
        <LinkTo @route="second">Second Page</LinkTo>
        <LinkTo @route="third">Third Page</LinkTo>
        <LinkTo @route="fourth">Fourth Page</LinkTo>
      </nav>

      {{outlet}}
    </main>

    <div class="right-sidebar">
      <FromElsewhere @name="right" />
    </div>

  </div>

  <div class="bottom-bar">
    <MultipleFromElsewhere @name="actions" as |C|>
      <div class="action">
        <C/>
      </div>
    </MultipleFromElsewhere>
  </div>
</div>
