{{! BEGIN-SNIPPET fourth }}
<p>This is the fourth page. It sends multiple "button" components into the same orange "actions" bar at the bottom.</p>

<ToElsewhere @named="actions" @send={{component "test-button" text="Button1"}} />
<ToElsewhere @named="actions" @send={{component "test-button" text="Button3"}} />
<ToElsewhere @named="actions" @send={{component "test-button" text="Button2"}} />

{{! END-SNIPPET }}

<CodeSnippet @name="fourth.hbs" />