{{!- BEGIN-SNIPPET index }}
<p>This is the first page. It sends the "first-sidebar" component into the "right" sidebar.</p>

<p>The model says: {{model.title}}</p>

{{to-elsewhere named="right" send=(component "first-sidebar" model=model)}}
{{!- END-SNIPPET }}

{{code-snippet name="index.hbs"}}
