{{! BEGIN-SNIPPET index }}
<p>This is the first page. It sends the "FirstSidebar" component into the "right" sidebar.</p>

<p>The model says: {{this.model.title}}</p>

<ToElsewhere @named="right" @send={{component "first-sidebar" model=this.model}} />
{{! END-SNIPPET }}

<CodeSnippet @name="index.hbs" />
