{{!- BEGIN-SNIPPET second }}
<div>This is the second page. It sends the "second-tools" component into the green "tools" bar, and receives actions back.</div>
{{#each handled as |h|}}
  <div>{{h}}</div>
{{/each}}

{{to-elsewhere named="tools" send=(component "second-tools" doIt=(action "handleIt") ) }}
{{!- END-SNIPPET }}

{{code-snippet name="second.hbs"}}
